<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week8">
        <!-- 스플래시: 앱 진입점 (MAIN + LAUNCHER) -->
        <!-- exported=true: 외부(런처)에서 실행 가능해야 하므로 필수 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 온보딩: 최초 실행 시 앱 소개 3페이지 -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <!-- 메인: 게임 리스트 화면 -->
        <!-- exported=false: 앱 내부에서만 접근 (나중에 SEND 필터 추가 시 true로 변경) -->
        <activity
            android:name=".MainActivity"
            android:label="@string/main_title"
            android:exported="false" />

        <!-- 게임 상세: 암시적 Intent 4종 집결지 -->
        <!-- parentActivityName: ← 버튼 누르면 MainActivity로 돌아감 -->
        <activity
            android:name=".GameDetailActivity"
            android:label="@string/detail_title"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- 리뷰 작성: forResult로 별점+한줄평 반환 -->
        <!-- parentActivityName: ← 버튼 누르면 GameDetailActivity로 돌아감 -->
        <activity
            android:name=".ReviewWriteActivity"
            android:label="@string/review_title"
            android:parentActivityName=".GameDetailActivity"
            android:exported="false" />

        <!-- 스크린샷: 카메라 호출 + 미리보기 -->
        <!-- parentActivityName: ← 버튼 누르면 GameDetailActivity로 돌아감 -->
        <activity
            android:name=".ScreenshotActivity"
            android:label="@string/screenshot_title"
            android:parentActivityName=".GameDetailActivity"
            android:exported="false" />

        <!-- 앱 정보: ACTION_VIEW / ACTION_SENDTO 학습 화면 -->
        <!-- parentActivityName: ← 버튼 누르면 MainActivity로 돌아감 -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
    </application>

</manifest>